


body {
    background-image:url("https://i.imgur.com/hRGPq4j.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  body a:hover {  
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=61446");
  }
  
  nav {
  width:1500px;
  height:50px;
  position:fixed;
  top:0;
  left:0;
  z-index:99999;
  background-color: #fff;
  display:flex;
  justify-content:space-evenly;
  }
  
  nav a {
  font-family: 'VT323', monospace;
  color: #4D3B3A;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: none;
  padding:0;
  display: flex;
  justify-content: space-evenly;
  }
  
  nav a:hover {
  background-color:#fff;
  color:#975D4B;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  }
  
  nav a:visited {
  background-color:#22A67A;
  color: #334252;
  display: flex;
  justify-content: space-evenly;
  }
  
  nav a:active {
  background-color:#22A67A;
  color:white;
  display: flex;
  justify-content: space-evenly;
  }
  
  .container {
    display: grid;
    float:left;
  }
  
  .card{
    width:1076px;
    height:360px;
    margin: 1rem;
    background-image:url("https://i.imgur.com/6jZu83K.png");
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all .2s linear;
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

  .hero {
    height:240px;
  }

  .back {
    width:200px;
    height:50px;
    color: #C4AB8D;
    font-size: 20px;
    text-transform: lowercase;
    text-decoration: none;
    align-content: center;
    font-family: 'VT323', monospace;
    background-image:url("https://i.imgur.com/6jZu83K.png");
    border-radius: 12px;
  }
.back:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}