body {
    background-image:url("https://i.imgur.com/hRGPq4j.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  body a:hover {  
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=61446");
  }
  
  nav {
  width:1500px;
  height:50px;
  position:fixed;
  top:0;
  left:0;
  z-index:99999;
  background-color: #fff;
  display:flex;
  justify-content:space-evenly;
  }
  
  nav a {
  font-family: 'VT323', monospace;
  color: #4D3B3A;
  font-size: 20px;
  text-transform: lowercase;
  text-decoration: none;
  padding:0;
  display: flex;
  justify-content: space-evenly;
  }
  
  nav a:hover {
  background-color:#fff;
  color:#975D4B;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  }
  
  nav a:visited {
  background-color:#22A67A;
  color: #334252;
  display: flex;
  justify-content: space-evenly;
  }
  
  nav a:active {
  background-color:#22A67A;
  color:white;
  display: flex;
  justify-content: space-evenly;
  }
  
  .container {
    display: grid;
    float:left;
  }
  
  #div umbreon.card.body {
    display: grid;
    float:right;
  }